body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 1rem;
}
img {
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Modal Styling */
.modal-header {
    background-color: #343a40;
    color: white;
}

.modal-body img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.modal-body p {
    font-size: 1.1em;
    margin-top: 10px;
}

.modal-title {
    font-weight: bold;
}

.modal-content {
    border-radius: 10px;
}


@media (max-width: 768px) {
    .col-md-4 {
        margin-bottom: 20px;
    }
}
